@model SNW.Models.Error.ErrorInformation

@{
    ViewBag.Title = "No Access";
}

<h2>No Access</h2>

<p>
    @Model.error
</p>

<p>
    @using (Html.BeginForm("Index", "CustomerOrder"))
    {
        <button type="submit" class="btn btn-default">Back to List of Orders</button>
    }
</p>