@{
    ViewBag.Title = "SNW wholesale products in Brighton";
}

<div class="jumbotron">
    <h1>Welcome to SNW!</h1>
    <p class="lead">The Sounds Nice Wholefoods provides the shopping of wholesale products from <a href="http://www.infinityfoodswholesale.co.uk/" title="Infinity Foods Co-operative" target="_blank">Infinity Foods Co-operative</a> in Brighton.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Maintain your Product list or start a new Order by adding Products you want to buy.
        </p>
        <p><a class="btn btn-default" href="../Product/ProductList">Check Product Catalogue</a></p>
    </div>
    <div class="col-md-4">
        <h2>Orders</h2>
        <p>
            Check your existing Orders, track their status and amend pending Orders.
        </p>
        <p><a class="btn btn-default" href="../CustomerOrder/Index">Manage Orders</a></p>
    </div>
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
            Administrate Member contact details, credentials and privileges.
        </p>
        <p><a class="btn btn-default" href="../Customer/Index">Manage Members</a></p>
    </div>
</div>