
<div class="search">
    @using (Html.BeginForm("Search", "Search"))
    {
        <input type="search" id="name" name="name">
        <button type="submit" name="searchProduct" class="btn btn-default">Q</button>
    }
</div>