<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fyp.wpapps.mobi:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://fyp.wpapps.mobi:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>SNW</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WINSERVER2008\Donatas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBModelContainer" Order="1" Enabled="False">
          <Destination Path="server=fyp.wpapps.mobi;user id=c1snw;persistsecurityinfo=True;Convert Zero Datetime=True;password=YjnPyj861LWFoR;database=c1snw" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SNW.Models.DBModelContainer, SNW" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DBModel.csdl|res://*/Models.DBModel.ssdl|res://*/Models.DBModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=fyp.wpapps.mobi;user id=c1snw;persistsecurityinfo=True;Convert Zero Datetime=True;password=YjnPyj861LWFoR;database=c1snw"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>